div#contentIconName {
    display: flex;
    align-items: center;
        width: 10%;
}

div#contentIconName img#icon {
    width: 20%;

}

div#contentIconName span {
    margin-left: 0.5em;
    font-weight: bold;
}

img {
    width: 2em;
}

div.contentIconsLink {
    display: flex;
    gap: 1em;
    width: 12em;
    align-items: center;
}

div.contentIconsLink img {
    width: 2em;
    filter: invert(67%) sepia(53%) saturate(703%) hue-rotate(183deg) brightness(102%) contrast(93%);

}

div.contentIconsLink img:hover {
    filter: invert(56%) sepia(97%) saturate(1147%) hue-rotate(184deg) brightness(101%) contrast(99%);

}